<div class="welcome-message">
  <h1>Edit Task</h1>
</div>
   <div class= "main-card">
    <div class="task-name-card justify-content-center">
      <h4><%= @task.name %></h4>
    </div>

<div class="container">
  <%= render "form", task: @task %>
</div>
