<h2>your households tasks</h2>

<% @tasks.each do |task| %>
  <p><%= task.name %> <%= task.household.name%> <%= task.assigned_to.nil? ? "unassigned" : task.assigned_to.username %> </p>
<% end %>
<p>we will make it clickable</p>
