<div class="container welcome-message">
  <%# <div class="welcome-message"> %>
  <%# </div> %>
  <h1>Hello <%= current_user.username %>!</h1>
</div>
<div class="container pl-2">
  <div>
    <%# <div class="row"> %>
      <% @tasks.each do |task| %>
        <%= link_to task_path(task), class: "task-card" do %>
            <h4><%= task.name %></h4>
            <p><%= task.points %></p>
        <% end %>
      <% end %>
    <%# </div> %>
  </div>
</div>
