<div class="task-card">
  <div class="task-infos">
    <% category_hash = {
      "Groceries" => "ðŸ¥•",
      "Care" => "ðŸ£",
      "Cleaning" => "ðŸ§½",
      "Paperwork" => "ðŸ“„",
      "Planning" => "ðŸ“…",
      "Maintenance" => "ðŸ’¡"
    } %>
    <p><span><%= category_hash[template.category.name] %>  </span> <%= template.category.name %></p>
    <div class="task-circles">
      <div class="task-points">
        <p><%= template.points %></p>
      </div>
    </div>
  </div>
  <div class="task-name" >
    <h4><%= template.name %></h4>
  </div>
</div>
