<!-- HOMEPAGE/TASKS ICON -->
<i class="fa-solid fa-list-check"></i>

<!-- CONTACTS ICON -->
<i class="fa-solid fa-address-book"></i>

<!-- CALENDAR ICON -->
<i class="fa-solid fa-calendar-days"></i>

<!-- STATS ICON -->
<i class="fa-solid fa-chart-column"></i>

<!-- EDIT ICON -->
<i class="fa-solid fa-pen"></i>

<!-- GO BACK ICON -->
<i class="fa-solid fa-chevron-left"></i>

<!-- ADD ICON -->
<i class="fa-solid fa-circle-plus"></i>

<!-- DELETE ICON -->
<i class="fa-solid fa-trash"></i>

<!-- POSITION ICON -->
<i class="fa-solid fa-location-dot"></i>
