<!-- HOMEPAGE/TASKS ICON -->
<i class="fa-solid fa-list-check"></i>

<!-- CONTACTS ICON -->
<i class="fa-solid fa-address-book"></i>

<!-- CALENDAR ICON -->
<i class="fa-solid fa-calendar-days"></i>

<!-- STATS ICON -->
<i class="fa-solid fa-chart-column"></i>

<!-- EDIT ICON -->
<i class="fa-solid fa-pen"></i>

<!-- GO BACK ICON -->
<i class="fa-solid fa-chevron-left"></i>

<!-- ADD ICON -->
<i class="fa-solid fa-circle-plus"></i>

<!-- DELETE ICON -->
<i class="fa-solid fa-trash"></i>

<!-- POSITION ICON -->
<i class="fa-solid fa-location-dot"></i>


<!-- CATEGORIES -->
  <!-- GROCERIES ICON -->
  <i class="fa-solid fa-cart-shopping"></i>

  <!-- CARE ICON -->
  <i class="fa-solid fa-heart"></i>

  <!-- CLEANING ICON -->
  <i class="fa-solid fa-hand-sparkles"></i>

  <!-- PAPERWORK ICON -->
  <i class="fa-solid fa-folder-open"></i>

  <!-- PLANNING ICON -->
  <i class="fa-solid fa-calendar-days"></i>

  <!-- MAINTENANCE ICON -->
  <i class="fa-solid fa-person-shelter"></i>
