<div class="container template-details-header">
  <h1>Edit Contact</h1>
</div>
<div class= "main-card">
    <div class="contact-name-card justify-content-center">
      <h4><%= @contact.name %></h4>
    </div>

<div class="container overflow-fix mt-5">
  <%= render "form", contact: @contact  %>
</div>
