<h1>All contacts</h1>

<%= link_to "New Contact", new_contact_path, class: "btn btn-primary " %>

<% @contacts.each do |contact| %>
  <%= link_to contact_path(contact) do %>
    <p><%= contact.title %></p>
  <% end %>
<% end %>
