.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat, .btn-add, .btn-menu {
  color: black;
  padding: 8px 24px;
  border-radius: 4px;
  background: #75CCB9;
  transition: background 0.3s ease;
}

.btn-flat:hover, .btn-add:hover, .btn-menu:hover {
  background: #5870CB;
  color: black;
}

.btn-gradient {
  color: black;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.btn-add {
  margin-bottom: 15px;
}

.form-button {
  color: #5870CB;
  font-size: 32px;
}

// buttons on Tasks
.btn-menu {
color: #5B5B5B;
border-radius: 25px;
margin: 2px;
background: #A5FAEA;
}


.button-box {
  border-style: solid;
  border-color: #A5FAEA;
  border-radius: 25px;
  margin: 0;
  // background-color: #DAFDFD;
  p {
    margin: 0;
  }
}
