.navbar {
  display: flex;
  justify-content: space-around;
  background: #A5FAEA;
  align-items: center;
  height: 60px;
}

.navbar a {
  text-decoration: none;
  color: #8C9EFF;
  opacity: 50%;
}

.active {
  opacity: 100% !important;
}
