.card {
  margin-bottom: auto;
}

.header {
  text-align: center;
  width: 100vw;
  margin: 0 auto;
  height: 300;
  padding: 20px 50px 40px;
  background-color: #9cebda;
}

.input_rows {
  margin-left: 10px;
  margin-right: 10px;
}
